<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Sentiment analysis</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>

</head>

<body>

<main role="main" class="container">

    <div class="starter-template">
        <h1>
            <span th:text="'Топ слов: '"></span>
        </h1>
        <table>
            <tr th:each="word : ${words}">
                <th th:text="${word.word}"></th>
                <th th:text="${word.sentiment}"></th>
            </tr>
        </table>
    </div>
    <hr/>
    <a href="/sentiment/dictionary">Назад</a>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>