<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Sentiment analysis</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>

</head>

<body>

<main role="main" class="container">

    <div class="starter-template">
        <h1>
            <span th:text="'Какая эмоция подходит слову?'"></span>
        </h1>
    </div>

    <form action="#" th:action="@{/sentiment/dictionary}" th:object="${sentimentDto}" method="post">
        <label th:for="${sentimentDto.word}" th:text="'Слово: ' + ${word}"></label>
        <input type="text" th:field="*{word}" hidden/>
        <li th:each="sentimentEnum : ${sentiments}">
            <input type="radio" th:value="${{sentimentEnum}}" th:field="*{sentiment}"/>
            <label th:for="${sentimentEnum}" th:text="${sentimentEnum.getName()}"></label>
        </li>
        <input type="submit">
    </form>
    <hr/>
    <a href="/sentiment/dictionary/top">Топ слов</a>

</main>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>